.addtask-wrapper {
    height: calc(100vh - 96px -64px);
    gap: 24px;
    min-width: 472px;
    display: flex;
    flex-direction: column;
    padding: 64px 0 0 24px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--style-color) #fff;
}

.addtask-main-content {
    box-sizing: border-box;
    flex-direction: column;
    width: 440px;
    gap: 12px;
    color: var(--style-color);
}

.addtask-main-content input {
    box-sizing: border-box;
    font-size: 32px;
    padding: 13px 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--style-color);
    width: 100%;
}

.addtask-main-content input:focus {
    border-color: var(--main-color);
}

.addtask-error {
    height: 16px;
    font-family: inter;
    font-size: 13px;
    width: 100%;
}

.label-main {
    font-size: 19px;
    font-weight: 700;
    color: var(--menu-color);
}

.label-optional {
    font-size: 19px;
}

.due-date input {
    font-size: 19px;
}

.addtask-main-content textarea {
    width: 440px;
    resize: vertical;
    height: 103px;
    font-size: 19px;
    padding: 16px;
    box-sizing: border-box;
    outline: none;
    border: none;
    border: 1px solid var(--style-color);
    border-radius: 0px 10px 10px 10px;
}

.addtask-main-content textarea:focus {
    border: 1px solid var(--main-color);
}

.priority-wrapper {
    display: flex;
    width: 440px;
    flex-direction: column;
    gap: 8px;
}

.prio-buttons {
    display: flex;
    justify-content: space-between;
    height: 51px;
}

.select-box {
    height: 40px;
    width: 100%;
    color: #000;
    border-bottom: 1px solid var(--style-color);
}

.select-box:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--style-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;;
  border: 2px solid var(--style-color);
}

.section-addtask-buttons {
    display: flex;
    padding: 55px 42px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

.add-task-button {
    display: flex;
    gap: 24px;
}

.cancel-button, .create-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
}

.button-toggle {
    pointer-events: none;
}

.add-task-button img {
    height: 24px;
    width: 24px;
}

.cancel-button:hover img {
    content: url(../assets/icons/add_task/cancel_hover.svg);
}

.create-button:hover img {
    content: url(../assets/icons/add_task/check_white.png);
}

.cancel-button:active img {
    content: url(../assets/icons/add_task/cancel_active.svg);
}

.create-button:active img {
    content: url(../assets/icons/add_task/check_blue.png);
}

.asigned-select-box {
    display: flex;
    padding: 12px 16px;
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid var(--style-color);
}

.asigned-select-box:hover {
    border-color: var(--main-color);
}

.asigned-select-box img:hover {
    content: url(../assets/icons/add_task/arrow_down_hover.svg);
}

.contact-list-box {
    display: flex;
    flex-direction: column;
    height: 250px;
}

li {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 7px 16px;
    border-radius: 10px;
    color: #000;
}

li div {
    display: flex;
    align-items: center;
    gap: 10px;
}

li:hover {
    background-color: var(--navi-buttons-bg);
}