/* Section add task */
.addtask-wrapper {
  height: calc(100vh - 96px -64px);
  gap: 12px;
  min-width: 472px;
  display: flex;
  flex-direction: column;
  padding: 64px 0 0 24px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

/* Upper box of add task */
.addtask-main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 440px;
  gap: 12px;
  color: var(--style-color);
}

/* add task title input */
.addtask-title {
  box-sizing: border-box;
  font-size: 32px;
  padding: 13px 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--style-color);
  width: 100%;
  gap: 4px;
}

* {
  font-size: 19px;
}

.addtask-title:hover {
  border-color: var(--main-color);
}

.addtask-main-content input:focus {
  border-color: var(--main-color);
}

.addtask-error {
  height: 16px;
  font-family: inter;
  font-size: 13px;
  width: 100%;
  color: var(--error-color);
}

.label-main {
  font-weight: 700;
  color: var(--menu-color);
}

.label-optional {
  color: var(--style-color);
}

/* Datepicker */
.due-date {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.date-input:hover {
  border-color: var(--main-color);
}

.due-date img {
  height: 24px;
}

.date-input {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--style-color);
}

.date-input input {
  border: none;
  outline: none;
  width: 100%;
}

.addtask-main-content textarea {
  width: 440px;
  resize: vertical;
  height: 103px;
  padding: 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border: 1px solid var(--style-color);
  border-radius: 0px 10px 10px 10px;
}

.addtask-main-content textarea:focus, textarea:hover {
  border: 1px solid var(--main-color);
}

.priority-wrapper {
  display: flex;
  width: 440px;
  flex-direction: column;
  gap: 8px;
}

.prio-buttons {
  display: flex;
  justify-content: space-between;
  height: 51px;
}

.select-box {
  height: 40px;
  width: 100%;
  color: #000;
  border-bottom: 1px solid var(--style-color);
}

.select-box:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 2px solid #fff;
}

.section-addtask-buttons {
  display: flex;
  padding: 55px 42px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.add-task-button {
  display: flex;
  gap: 24px;
}

.cancel-button,
.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
}

.cancel-button {
  width: 96px;
}

.button-toggle {
  pointer-events: none;
}

.add-task-button img {
  height: 24px;
  width: 24px;
}

.cancel-button:hover img {
  content: url(../assets/icons/add_task/cancel_hover.svg);
}

.create-button:hover img {
  content: url(../assets/icons/add_task/check_white.png);
}

.cancel-button:active img {
  content: url(../assets/icons/add_task/cancel_active.svg);
}

.create-button:active img {
  content: url(../assets/icons/add_task/check_blue.png);
}

.assigned-box,  .category-box{
  width: 440px;
}

.assigned-select-box {
  display: flex;
  cursor: pointer;
  padding: 12px 16px;
  justify-content: space-between;
  border-bottom: 1px solid var(--style-color);
}

.assigned-select-box input {
  border: none;
  width: 100%;
  border: none;
  outline: none;
}

.assigned-select-box:hover,
:has(input:focus) {
  border-color: var(--main-color);
}

.arrow-down {
  content: url(../assets/icons/add_task/arrow_down_default.svg);
}
.arrow-up {
  content: url(../assets/icons/add_task/arrow_up_default.svg);
}
.arrow-down:hover {
  content: url(../assets/icons/add_task/arrow_down_hover.svg);
}
.arrow-up:hover {
  content: url(../assets/icons/add_task/arrow_up_hover.svg);
}

.contact-list-box {
  display: flex;
  flex-direction: column;
  height: 250px;
}

li {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 7px 16px;
  border-radius: 10px;
  color: #000;
}

li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

li:hover {
  background-color: var(--navi-buttons-bg);
}

li:active {
  background-color: var(--light-blue);
  color: #fff;
}

.category-select-box {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 12px 16px;
  border-bottom: 1px solid var(--style-color);
  cursor: pointer;
}

span {
  font-size: 19px;
}

.category-select-box:hover {
  border-bottom: 1px solid var(--main-color);
}

.subtask-box {
  display: flex;
  flex-direction: column;
  width: 440px;
}

.subtask-select {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--style-color);
}

.subtask-select:hover {
  border-color: var(--main-color);
}

.subtask-select input {
  border: none;
  outline: none;
  width: 100%;
}

.subtask-select ::placeholder {
  color: var(--style-color);
}

.subtask-plus-box img:hover {
  content: url(../assets/icons/add_task/add\ hover.svg);
}

.subtask-func-btn, .subtask-plus-box {
  display: flex;
  align-items: center;
  gap: 4px;
} 

.vertical-spacer {
  border: 1px solid var(--style-color);
  height: 18px;
}

.sub-clear:hover {
  content: url(../assets/icons/add_task/sub_clear_hvr.svg);
}

.sub-check:hover {
  content: url(../assets/icons/add_task/sub_check_hvr.svg);
}

.sub-task-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.subtask-edit-input {
  width: 100%;
  border: none;
  outline: none;
}

.subtask-edit-icon:hover {
  content: url(../assets/icons/add_task/edit_hover.svg);
}

.subtask-delete-icon:hover {
  content: url(../assets/icons/add_task/delete_hover.svg);
}

.subtask-save-icon:hover {
  content: url(../assets/icons/add_task/sub_check_hvr.svg);
}

.subtask-edit-input.active {
  background-color: white;
  border: none;
  outline: none;
  width: 100%; 
  box-sizing: border-box; /
}

.subtask-item.editing {
  background-color: white;
  border-radius: 0;
  border-bottom: 1px solid var(--main-color);
}

.subtask-item.editing .subtask-func-btn {
  display: flex !important;
}

.subtask-item:active {
  background-color: #fff;
}

a,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="text"],
.addtask-title,
select,
textarea,
.category-select-box,
.assigned-select-box,
li,
div,
.subtask-select {
  transition: all 0.2s ease-in-out;
}