d-none {
    display: none !important;
}

.contact-body {
    overflow: hidden;
}

.contact-content {
    display: flex;
    height: calc(100vh - 96px);
    margin-top: 4px;
}

.contact-add-new-contact-container {
    width: 350px;
    height: calc(100vh - 130px);
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.button-add-new-contact-container {
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

.button-add-new-contact-box {
    width: 100%;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button-add-new-contact-container img {
    margin-top: -2px;
}

.contact-abc-box {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 18px;
}

.contact-placeholder {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-placeholder img {
    width: 100%;
}

.contact-person {
    padding-left: 24px;
    padding-bottom: 15px;
    padding-right: 24px;
    padding-top: 15px;
    display: flex;
    gap: 35px;
    border-radius: 10px;
}

.contact-person:hover {
    background-color: #D2E3FF;

}

.contact-person:active {
    background-color: var(--main-color);
    color: white;

    a {
        color: white;

    }
}

.contact-person p {
    margin-top: -30px;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.contact-person img {
    height: 42px;
    width: 42px;
}

.contact-person-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 42px;
    width: 42px;
    border: solid white;
    border-radius: 45px;
}

.contact-person-name a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 16px;
}

.contact-person-name h5 {
    font-weight: 400;
}

.contact-single-person-content {
    padding: 60px;

}

.contact-single-person-content-head {
    gap: 54px;
    display: flex;
    padding-bottom: 21px;
}

.contact-person-icon-big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
}

.contact-person-icon-big h3 {
    position: absolute;
    color: white;
    font-family: Inter;
}

.contact-single-person-content-head-name h3 {
    font-family: Inter;
    padding-bottom: 8px;
}

.contact-person-icon-big img {
    position: absolute;
    height: 120px;
    width: 120px;
    border: 3px solid white;
    border-radius: 70px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
}

.contact-single-person-content-head-edit-container {
    display: flex;
}

.contact-single-person-content-head-edit-box {
    gap: 6px;
    display: flex;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.contact-single-person-content-head-edit-box p {
    font-size: 16px;
}

.contact-single-person-content-head-edit-box img {
    height: 24px;
    width: 24px;
}

.contact-single-person-content-head-trash-box {
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-single-person-content-head-trash-box p {
    font-size: 16px;
}

.contact-single-person-content-head-trash-box img {
    height: 24px;
    width: 24px;
}

.contact-single-person-content-info {
    gap: 22px;
    display: flex;
    flex-direction: column;
}

.contact-single-person-content-info a {
    font-size: 16px;
    text-decoration: none;
    color: var(--main-color);
}

.contact-single-person-content-head-trash-box:hover {
    color: var(--light-blue);
    font-weight: 700;
}

.contact-single-person-content-head-trash-box:hover img {
    filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(7482%) hue-rotate(244deg) brightness(101%) contrast(101%);
}

.contact-single-person-content-head-edit-box:hover p {
    color: var(--light-blue);
    font-weight: 700;
}

.contact-single-person-content-head-edit-box:hover img {
    filter: brightness(0) saturate(100%) invert(12%) sepia(100%) saturate(7482%) hue-rotate(244deg) brightness(101%) contrast(101%);
}

.overlay-edit-contact {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-overlay-edit-head {
    width: 580px;
    position: absolute;
    top: 0;
    left: -100%;
    height: 200px;
    background-color: var(--main-color);
    border-radius: 0 30px 0 0;
    animation: slideIn 1s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.contact-overlay-edit-head img {
    width: 55px;
}

@keyframes slideIn {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

.contact-overlay-edit-content {
    width: 575px;
    height: calc(100vh - 200px);
    background-color: white;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 200px;
    left: 0;
    border: solid rgba(0, 0, 0, 0.16);
    border-top: none;
    animation: slideIn 1s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.contact-overlay-person-icon-big {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
}

.contact-overlay-person-icon-big h3 {
    position: absolute;
    color: white;
    font-family: Inter;
}

.contact-overlay-person-icon-big img {
    position: absolute;
    height: 120px;
    width: 120px;
}

.contact-overlay-edit-content-name {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.contact-overlay-edit-content-name h5 {
    font-weight: 400;
}

.contact-placeholder-blue {
    height: 0.5px;
    width: 100%;
    background-color: var(--light-blue);
}

.contact-overlay-edit-content-details {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.contact-overlay-placeholder {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.overlay-edit-contact-delete-save {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.overlay-edit-contact-delete {
    border: solid 1px #647188;
    border-radius: 8px;
    height: 60px;
    width: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-edit-contact-save {
    display: flex;
    gap: 4px;
    border-radius: 10px;
    background-color: var(--main-color);
    height: 60px;
    width: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay-edit-contact-save p {
    width: 126px;
    display: flex;
    justify-content: center;
}
.overlay-edit-contact-save img {
    filter: brightness(0) saturate(100%) invert(100%);
}

.overlay-edit-contact-save:hover {
    background-color: var(--light-blue);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
}

.overlay-edit-contact-delete:hover {
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
    border-color: var(--main-color);
    color: var(--main-color);
}

.h5-input {
    border: none;
    background: transparent;
    font-size: 19px;
    font-weight: inherit;
    margin: 0;
}
