.nav-mobile {
    display: none;
    align-items: center;
}

.nav-box {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.nav-box img {
    height: 96px;
    width: auto;
}
