.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4589ff;
  transition: background-color 0.3s ease-in-out;
}

.page-wrapper.bg-white {
  background-color: #fff;
}

.login-main {
  display: flex;
  width: 100%;
  max-width: 1920px;
  height: 100%;
  max-height: 1440px;
  position: fixed;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* display main */
@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 265px;
  height: 323.1px;
  transform: translate(-50%, -50%);
  animation: moveLogo 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
  z-index: 2;
}

/* moving logo */
@keyframes moveLogo {
  to {
    top: calc((100vh - min(100vh, 1440px)) / 2 + -20px);
    left: calc((100vw - min(100vw, 1920px)) / 2 + -5px);
    transform: translate(0, 0) scale(0.38);
  }
}

.logo-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeInBlue 0.3s ease-in-out forwards;
  animation-delay: 0.5s;
}

/* change logo color */
@keyframes fadeInBlue {
  to {
    opacity: 1;
  }
}

.logo-white,
.logo-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.logo-white {
  opacity: 1;
  z-index: 2;
}
.logo-blue {
  opacity: 0;
  z-index: 1;
}

.sign-up-button-box {
  display: flex;
  position: absolute;
  top: 67px;
  right: 86px;
  gap: 35px;
  align-items: center;
  transition: 0.1s;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  gap: 39px;
  width: 652px;
  height: 448px;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0, 0.08) 0px 0px 10px 3px;
  overflow: hidden;
  transition: height 0.4s ease;

}

.sign-up-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  gap: 39px;
  width: 652px;
  height: 607px;
  border-radius: 30px;
  box-shadow: rgb(0, 0, 0, 0.08) 0px 0px 10px 3px;

}

.back-arrow {
  position: absolute;
  top: 64px;
  left: 48px;
  cursor: pointer;
}

.back-arrow:hover {
  height: 32px;
  width: 32px;
  content: url(../assets/general_elements/icons/arrow_left_hover.svg);
}

.d-none {
  opacity: 0;
  pointer-events: none;
  transition: 0.1s;
}

.login-title-box {
  width: 422px;
  height: 74px;
  justify-items: center;
}

.login-title {
  text-align: center;
  width: 315px;
  height: 58px;
  font-size: 48px;
  margin-bottom: 16px;
  font-weight: 700;
  color: #000;
}

.login-title-box:after {
  content: "";
  display: block;
  background: var(--main-color);
  width: 150px;
  height: 3px;
  border-radius: 3px;
}

.input-wrapper-box {
  width: 422px;
  transition: 0.1s;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 48px;
  padding: 0px 21px;
  border-bottom: 1px solid #d1d1d1;
  transition: border-color 0.1s;
}

.input-wrapper input {
  border: none;
  width: 100%;
  font-size: 19px;
}

.cursor-pointer {
  cursor: pointer;
}

.input-wrapper input:focus {
  border: none;
  outline: none;
}

.input-wrapper input::placeholder {
  color: #d1d1d1;
}

.input-wrapper img {
  height: 24px;
  width: 24px;
}

.spacebox {
  height: 28px;
}

.login-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  gap: 35px;
}

.login-button-wrapper button {
  padding: 10px 35px;
  border-radius: 8px;
}

#errorMessage {
  justify-self: flex-start;
  color: #ff8190;
  font-family: inter;
  font-size: 13px;
  font-weight: 400;
  height: 24px;
  padding-top: 8px;
}

.links {
  position: absolute;
  bottom: 43px;
  display: flex;
  min-height: 120px;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.links a {
  color: var(--menu-color);
  font-size: 16px;
  text-decoration: none;
}

.links a:hover {
  color: var(--main-color);
}

.page-wrapper.bg-blue .links a {
  color: #fff;
  transition: 0.5s;
}
.page-wrapper.bg-blue .links a:hover {
  color: var(--light-blue);
  transition: 0.1s;
}

.page-wrapper.bg-white .links a {
  color: var(--menu-color);
  transition: 0.1s;
}
.page-wrapper.bg-white .links a:hover {
  color: var(--main-color);
  transition: 0.1s;
}

.confirm-box {
  margin-top: -40px;
  margin-bottom: -15px;
  font-size: 16px;
}

.confirm-box a {
  font-size: 16px;
  text-decoration: none;
  color: var(--menu-color);
}

* {
  outline: 0px solid red;
  color: var(--light-blue);
}

/*


Important, Please don´t touch this section, never!



*/

/* Tablet */
@media (max-width: 1024px) {
  .logo-wrapper {
    transform: translate(-50%, -50%) scale(0.69); /* 1 + 0,38 / 2 = 0,69 */
  }
  @keyframes moveLogo {
    to {
      top: -52px; /* -20 -85 / 2 = -52px */
      left: -33px; /* -5 -62 / 2 =  -33px */
      transform: translate(0, 0) scale(0.31);
    }
  }
}

/* Mobile */
@media (max-width: 720px) {
  .logo-wrapper {
    transform: translate(-50%, -50%) scale(0.38);
  }
  @keyframes moveLogo {
    to {
      top: -85px; /* 78 / 323 = 0,24 * 323 - 323 = -245 / 2 = -122 + 37 = -85px */
      left: -62px; /* 64 / 265 = 0,24 * 265 - 265 = -201 / 2 = -100 + 38 = -62px */
      transform: translate(0, 0) scale(0.24);
    }
  }
  .login-box {
    height: 469px;
    width: 396px;
  }
  .sign-up-button-box {
    position: absolute;
    top: calc(50% + 275px); /* Höhe der login-box + Abstand */
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    right: auto;
  }
  .input-wrapper-box {
    width: 364px;
    height: 152px;
  }
  .login-button-wrapper {
    flex-direction: column;
  }
}

/* Mobile less 428px until 320px */
@media (max-width: 428px) {
  .login-box {
    width: 90%;
  }
  .input-wrapper-box {
    width: 90%;
  }
  .sign-up-box {
    width: 90;
  }
}