.overlay-add-task {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 60;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-task-overlay-content {
  width: 500px;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  gap: 12px;
  background-color: white;
  border-radius: 30px 0 0 30px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0 0 4px 0;
  align-items: center;
  flex-direction: column;
  transition: right 0.5s ease-in-out;
  z-index: 100;
}

/* Slide-In: von rechts -100% nach 0 */
@keyframes slideInRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

/* Slide-Out: von 0 nach rechts -100% */
@keyframes slideOutRight {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.add-task-overlay-content.slide-in {
  animation: slideInRight 0.5s ease forwards;
}

.add-task-overlay-content.slide-out {
  animation: slideOutRight 0.5s ease forwards;
}

.add-task-overlay-head {
  padding-top: 49px;
  width: 100%;
}

.add-task-overlay-head h2 {
  padding-left: 40px;
}

.close-button {
  display: block;
  top: 24px;
  right: 24px;
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.addtask-aside-clone {
  display: flex;
  height: 100vh;
  align-items: space-between;
  overflow-y: auto;
}

.overlay-create-task {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 24px;
}

.regular-close-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hover-close-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
}

.close-button:hover .regular-close-image {
  opacity: 0;
}

.close-button:hover .hover-close-image {
  opacity: 1;
}

/* Add Task Styles from addtask.css */
.addtask-wrapper {
  height: calc(100vh - 128px);
  gap: 12px;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

.addtask-main-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 12px;
  color: var(--style-color);
  padding-right: 8px;
}

.addtask-title {
  box-sizing: border-box;
  font-size: 32px;
  padding: 13px 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--style-color);
  width: 100%;
  gap: 4px;
}

.addtask-title:hover {
  border-color: var(--main-color);
}

.addtask-main-content input:focus {
  border-color: var(--main-color);
}

.addtask-error {
  height: 16px;
  font-family: inter;
  font-size: 13px;
  width: 100%;
  color: var(--error-color);
}

.label-main {
  font-weight: 700;
  color: var(--menu-color);
}

.label-optional {
  color: var(--style-color);
}

.due-date {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.date-input:hover {
  border-color: var(--main-color);
}

.due-date img {
  height: 24px;
}

.date-input {
  display: flex;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--style-color);
}

.date-input input {
  border: none;
  outline: none;
  width: 100%;
}

.addtask-main-content textarea {
  width: 100%;
  resize: vertical;
  height: 103px;
  padding: 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border: 1px solid var(--style-color);
  border-radius: 0px 10px 10px 10px;
}

.addtask-main-content textarea:focus, textarea:hover {
  border: 1px solid var(--main-color);
}

.priority-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.prio-buttons {
  display: flex;
  justify-content: space-between;
  height: 51px;
  width: calc(100% - 4px);
}

.select-box {
  height: 40px;
  width: 100%;
  color: #000;
  border-bottom: 1px solid var(--style-color);
}

.select-box:hover {
  cursor: pointer;
}

.section-addtask-buttons {
  display: flex;
  padding: 55px 42px;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

.add-task-button {
  display: flex;
  gap: 24px;
}

.cancel-button,
.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 16px;
}

.cancel-button {
  width: 96px;
}

.button-toggle {
  pointer-events: none;
}

.add-task-button img {
  height: 24px;
  width: 24px;
}

.cancel-button:hover img {
  content: url(../assets/icons/add_task/cancel_hover.svg);
}

.create-button:hover img {
  content: url(../assets/icons/add_task/check.svg);
}

.cancel-button:active img {
  content: url(../assets/icons/add_task/cancel_active.svg);
}

.create-button:active img {
  content: url(../assets/icons/add_task/check_blue.svg);
}

.assigned-box, .category-box {
  width: calc(100% - 4px);
  padding-right: 8px;
}

.assigned-select-box {
  display: flex;
  cursor: pointer;
  padding: 12px 16px;
  justify-content: space-between;
  border-bottom: 1px solid var(--style-color);
}

.assigned-select-box input {
  border: none;
  width: 100%;
  border: none;
  outline: none;
}

.assigned-select-box:hover,
:has(input:focus) {
  border-color: var(--main-color);
}

.arrow-down {
  content: url(../assets/icons/add_task/arrow_down_default.svg);
}

.arrow-up {
  content: url(../assets/icons/add_task/arrow_up_default.svg);
}

.arrow-down:hover {
  content: url(../assets/icons/add_task/arrow_down_hover.svg);
}

.arrow-up:hover {
  content: url(../assets/icons/add_task/arrow_up_hover.svg);
}

.contact-list-box {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: auto;
}

li {
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 7px 16px;
  border-radius: 10px;
  color: #000;
}

li div {
  display: flex;
  align-items: center;
  gap: 10px;
}

li:hover {
  background-color: var(--navi-buttons-bg);
}

li:active {
  background-color: var(--light-blue);
  color: #fff;
}

li.selected {
  background-color: var(--main-color) !important;
  color: white;
}

li.selected:hover {
  background-color: var(--light-blue) !important;
}

.contact-initial {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 40px;
  color: #fff;
  background-size: cover;
  font-size: 12px;
  width: 40px;
  border: 2px solid #fff;
}

.contact-initials {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.contact-initials-icon {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.category-select-box {
  display: flex;
  justify-content: space-between;
  color: #000;
  padding: 12px 16px;
  border-bottom: 1px solid var(--style-color);
  cursor: pointer;
}

.category-select-box:hover {
  border-bottom: 1px solid var(--main-color);
}

.subtask-box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4px);
  padding-right: 8px;
}

.subtask-select {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  padding: 12px 16px;
  border-bottom: 1px solid var(--style-color);
}

.subtask-select:hover {
  border-color: var(--main-color);
}

.subtask-select input {
  border: none;
  outline: none;
  width: 100%;
}

.subtask-select ::placeholder {
  color: var(--style-color);
}

.subtask-plus-box img:hover {
  content: url(../assets/icons/add_task/add\ hover.svg);
}

.subtask-func-btn, .subtask-plus-box {
  display: flex;
  align-items: center;
  gap: 4px;
}

.vertical-spacer {
  border: 1px solid var(--style-color);
  height: 18px;
}

.sub-clear:hover {
  content: url(../assets/icons/add_task/sub_clear_hvr.svg);
}

.sub-check:hover {
  content: url(../assets/icons/add_task/sub_check_hvr.svg);
}

.sub-task-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 16px;
}

.subtask-edit-input {
  width: 100%;
  border: none;
  outline: none;
}

.subtask-edit-icon:hover {
  content: url(../assets/icons/add_task/edit_hover.svg);
}

.subtask-delete-icon:hover {
  content: url(../assets/icons/add_task/delete_hover.svg);
}

.subtask-save-icon:hover {
  content: url(../assets/icons/add_task/sub_check_hvr.svg);
}

.subtask-edit-input.active {
  background-color: white;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.subtask-item.editing {
  background-color: white;
  border-radius: 0;
  border-bottom: 1px solid var(--main-color);
}

.subtask-item.editing .subtask-func-btn {
  display: flex !important;
}

.subtask-item:active {
  background-color: #fff;
}

a,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="text"],
.addtask-title,
select,
textarea,
.category-select-box,
.assigned-select-box,
li,
div,
.subtask-select {
  transition: all 0.2s ease-in-out;
}