.privacy-policy-content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.privacy-policy-content {
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;
}

h4 {
    color: var(--main-color);
}