@media (max-width: 1250px) {
    .contact-add-new-contact-container {
        width: 250px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-person {
        padding-left: 5px;
        padding-right: 5px;
        gap: 10px;
    }
}

@media (max-width: 900px) {
    .contact-single-person-content {
        display: none;
    }

    .button-add-new-contact-container {
        display: none;
    }

    .contact-add-new-contact-container {
        width: 100vh;
        padding: 24px;
    }

    .contact-person {
        padding-left: 24px;
        gap: 35px;
    }

    .button-mobile-add-new-contact {
        display: block !important;
        position: absolute;
        bottom: 150px;
        right: 80px;
        background-color: var(--main-color);
        width: 64px;
        height: 64px;
        border: none;
        border-radius: 10px;
    }

    .overlay-edit-contact {
        width: 100%;
    }

    .contact-overlay-edit-head {
        width: 100% !important;
        border-radius: 30px 30px 0 0 !important;
    }

    .contact-overlay-edit-content {
        width: 100% !important;
        border-radius: 0 0 30px 30px !important;
    }
}

@media (max-width: 720px) {
    .button-mobile-add-new-contact {
        bottom: 107px;
        right: 24px;
    }
}