@media (max-width: 1250px) {
    .add-task-button {
        flex-direction: column-reverse !important;
        align-items: center;
    }

    .section-addtask-buttons {
        justify-content: center !important;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 55px;
    }
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    }

    .add-task-button {
        flex-direction: unset !important;
    }

    .addtask-wrapper {
        padding: 24px 32px;
        justify-content: flex-start;
    }

    .section-addtask-buttons {
        padding: 20px 0;
    }

    .addtask-main-content {
        width: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .addtask-main-content textarea {
        width: 100%;
    }

    .priority-wrapper {
        width: 100%;
    }

    .assigned-box {
        width: 100%;
    }

    .category-box {
        width: 100%;
    }

    .subtask-box {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .prio-buttons {
        justify-content: center;
        gap: 8px;
    }

    .addtask-wrapper {
        min-width: auto;
    }
}

@media (max-width: 550px) {
    span {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    textarea {
        font-size: 16px;
    }

    .priority-button {
        width: 95px;
    }

    .cancel-button {
        font-size: 16px !important;
    }

    .create-button {
        font-size: 16px !important;
    }

    .addtask-title {
        font-size: 28px;
    }
}

@media (max-width: 375px) {
    .prio-buttons {
        transform: scale(0.8);
    }

    .cancel-button {
        padding: 8px 8px;
    }

    .create-button {
        padding: 8px 8px;
    }
}