@media (max-width: 1250px) {
  .dashboard {
    width: calc(100vw - 234px);
  }
  .task-dashboard-container {
    transform: scale(0.9);
  }

  .dashboard-header {
    transform: scale(0.9);
    flex-direction: column;
  }
}

@media (max-width: 1150px) {
  .task-dashboard-container {
    transform: scale(0.8);
  }

  .dashboard-header {
    transform: scale(0.9);
  }
}

@media (max-width: 1024px) {
  .dashboard {
    width: calc(100vw - 150px);
    gap: 0;
  }
}

@media (min-width: 900px) {
  .task-dashboard-mobile {
    display: none;
  }
 }

@media (max-width: 900px) {

  main {
    height: calc(100vh - 191px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .dashboard {
    width: 100%;
    height: calc(100vh - 191px);
    position: absolute;
    top: 84px;
  }
  
   .dashboard-header {
    animation: slideUpAndHide 0.8s forwards;
    animation-delay: 3.0s;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .dashboard-header h2 {
    font-size: 33px;
  }
  
  .dashboard-header h1 {
    font-size: 47px;
  }

   .task-dashboard-container {
    display: none;

   }

@keyframes slideUpAndHide {
  0% {
    transform: translateY(0);
  }

  80% {
    opacity: 1;
  }

  100% {
    transform: translateY(-25vh);
    opacity: 0;
  }
}

.task-tile-urgent-right-section h4 {
  font-size: 23px !important;
}

.task-tile-urgent-right-section h5 {
  font-size: 16px !important;
  font-weight: 400;
}

.task-tile-urgent-right-section {
  gap: 16px;
  align-items: start;
}
.task-tile-urgent-left-section {
  gap: 0;
}
.task-tile-urgent-icon-row {
  gap: 0;
  align-items: normal;
}
.task-tile-urgent-content {
  gap: 16px;
}
.task-tile-urgent-divider {
  height: 118px;
}

.task-tile-in-progress-mobile h5,
.task-tile-board-overview-mobile h5,
.task-tile-awaiting-feedback-mobile h5,
.task-tile-done-mobile h5 {
  color: var(--main-color);
  font-weight: 400;
  text-align: center;
}

.task-tile-todo-content img {
  height: 76px;
  width: 76px;
}

.task-tile-todo-content {
  align-items: center;
}
}

@media (max-width: 720px) {
  .dashboard {
    height: calc(100vh - 171px);
  }
}

@media (max-width: 450px) {
  
  @keyframes fadeInUp{
    0% {
      opacity: 0;
      transform: translateY(100vh) scale(0.75);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(0.75);
    }
  }

  @keyframes slideUpAndHide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-18vh);
  }
}
}
