@media (max-width: 1450px) {
    .input-button-box {
        margin: 72px 20px;
    }

    .board-content {
        padding: 0 20px;
        justify-content: normal;
        gap: 12px;
    }

    .bar {
        padding: 18px 20px;
        gap: 12px;
    }
}

@media (max-width: 1350px) {
    .board-content {
        transform: scale(0.92);
        transform-origin: left top;
    }

    .bar {
        transform: scale(0.92);
        transform-origin: left top;
    }
}

@media (min-width: 1250px) {
    .column-title-mobile {
        display: none;
    }
}

@media (max-width: 1250px) {
    .board-content {
        transform: scale(1);
        transform-origin: center top;
        flex-direction: column;
        overflow-y: auto;
        gap: 24px;
    }

    .bar {
        display: none;
    }

    .column-title-mobile {
        display: flex;
    }

    .column {
        height: auto;
    }

    .board {
        width: 100%;
    }

    .column {
        width: 100%;
    }


    .column-title-mobile {
        width: 100%;
        padding: 0;
    }

    .column-title {
        width: 100%;
        padding: 0;
    }

    .no-tasks {
        width: 100%;
    }

    .board {
        width: calc(100vw - 232px);
    }

    .task-list {
        flex-direction: row !important;
        overflow-x: scroll !important;
        overflow-y: hidden;
        padding: 8px;
        width: 100%;
        align-items: flex-start !important;
        height: 100%;
    }

    .ticket {
        flex-shrink: 0;
        width: 252px;
    }

    .upandown {
        display: flex;
    }
}

@media (max-width: 1025px) {
    .board {
        width: calc(100vw - 150px);
    }

    .board-content {
        height: 100%;
        overflow-y: auto;
    }
}

@media (max-width: 900px) {
    .board {
        width: 100%;
    }

    .board-content {
        width: 100% !important;
        height: calc(100vh - 100px - 152px - 107px);
    }

    .input-button-box .button-blue {
        display: none;
    }

    .input-wrapper {
        width: 100%;
    }

    .input-button-box {
        margin: 72px 20px 30px 20px;
    }

    .add-task-overlay-content {
        height: calc(100vh - 207px) !important;
        width: 100vw !important;
        animation: none !important;
        position: absolute !important;
        top: 100px;
        left: 0 !important;
        border-radius: 0;
    }

    .add-task-overlay-head {
        display: none;
    }

    .addtask-wrapper {
        padding: 0;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .addtask-aside-clone {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .addtask-main-content textarea {
        width: 100%;
    }
}

@media (max-height: 755px) {
    .input-button-box {
        margin: 35px 20px 30px 20px;
    }

    .board-content {
        height: calc(100vh - 49px - 152px - 87px) !important;
    }
}

@media (max-width: 720px) {
    .add-task-overlay-content {
        height: calc(100vh - 171px) !important;
        top: 84px;
    }

    .board-content {
        height: calc(100vh - 84px - 152px - 87px);
    }
}

@media (max-width: 600px) {
    .addtask-main-content textarea {
        width: 100%;
    }

    .addtask-main-content {
        padding: 16px 8px 16px 20px;
    }

    .priority-button {
        width: 109px;
    }

    .priority-wrapper {
        width: calc(100% - 4px);
    }

    .addtask-main-content {
        padding: 16px 8px 16px 20px !important;
    }

    .assigned-box {
        width: calc(100% - 40px);
    }

    .category-box {
        width: calc(100% - 40px);
    }

    .subtask-box {
        width: calc(100% - 40px);
    }
}

@media (max-width: 470px) {
    .prio-buttons {
        transform: scale(0.9);
    }

    .assigned-select-box input {
        font-size: 14px;
    }
}

@media (max-width: 420px) {
    .prio-buttons {
        transform: scale(0.8);
        transform-origin: left;
    }
}

@media (max-width: 370px) {
    .prio-buttons {
        transform: scale(0.7);
    }

    .assigned-select-box input {
        font-size: 11px;
    }
}

@media (max-width: 330px) {
    .prio-buttons {
        transform: scale(0.65);
    }
}