@media (max-width: 1250px) {
    .contact-add-new-contact-container {
        width: 250px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-person {
        padding-left: 5px;
        padding-right: 5px;
        gap: 10px;
    }
}

@media (max-width: 900px) {

    .contact-content {
        height: calc(100vh - 207px);
    }

    .button-add-new-contact-container {
        display: none;
    }

    .contact-add-new-contact-container {
        width: 100vw;
        padding: 0 24px;
        height: calc(100vh - 207px);
    }

    .contact-person {
        padding-left: 24px;
        gap: 35px;
    }

    .button-mobile-add-new-contact {
        display: block !important;
        position: absolute;
        bottom: 150px;
        right: 80px;
        background-color: var(--main-color);
        width: 64px;
        height: 64px;
        border: none;
        border-radius: 10px;
    }

    .overlay-edit-contact {
        width: 100vw;
    }

    .contact-overlay-edit-content {
        width: 100% !important;
        border-radius: 0 0 30px 30px !important;
        margin-left: 10px !important;
    }

    .contact-overlay-person-icon-big {
        position: absolute;
        top: -60px;
    }

    .overlay-add-contact {
        width: 100vw !important;
    }

    .contact-overlay-add-head {
        width: calc(100% - 20px) !important;
        border-radius: 30px 30px 0 0 !important;
        margin-top: 84px;
        margin-right: 10px;
    }

    .contact-overlay-add-content {
        border-radius: 0 0 30px 30px !important;
        top: 381px !important;
        height: calc(100vh - 491px) !important;
        margin-right: 10px;
        width: calc(100% - 20px) !important;
    }

    .overlay-add-contact-cancel {
        display: none !important;
    }

    .contact-overlay-add-head img {
        display: none;
    }

    .overlay-edit-contact {
        width: 100vw !important;
    }

    .contact-overlay-edit-head {
        width: calc(100% - 20px) !important;
        border-radius: 30px 30px 0 0 !important;
        margin: 84px 10px;
    }

    .contact-overlay-edit-content {
        border-radius: 0 0 30px 30px !important;
        top: 381px !important;
        height: 80vh;
        margin-right: 10px;
        width: calc(100% - 20px) !important;
    }

    .overlay-edit-contact-cancel {
        display: none !important;
    }

    .contact-overlay-edit-head img {
        display: none;
    }

    .contact-single-person-content {
        display: none;
        width: 100vw !important;
    }

    .contact-single-person-content.mobile-visible {
        display: flex !important;
        flex-direction: column;
        width: 100vw !important;
        position: fixed;
        top: 84px;
        left: 0;
        height: calc(100vh - 187px);
        padding: 64px 16px;
        box-sizing: border-box !important;
        gap: 21px;
    }

    .contact-single-person-content-head {
        align-items: center;
        justify-content: flex-start;
        gap: 22px !important;
    }

    .contact-person-icon-big {
        flex-shrink: 0;
        width: 120px !important;
    }

    .contact-single-person-content-head-name h3 {
        word-break: break-word !important;
        overflow-wrap: break-word !important;
        hyphens: auto !important;
        max-width: calc(100vw - 180px) !important;
    }
}

@media (max-width: 720px) {
    .contact-single-person-content.mobile-visible {
        height: calc(100vh - 167px);
    }

    .button-mobile-add-new-contact {
        bottom: 107px;
        right: 24px;
    }

    .contact-overlay-add-content {
        height: calc(100vh - 475px) !important;
    }

    .contact-overlay-edit-content {
        height: 90vh;
    }

    .single-person-content-mobile-bottom {
        bottom: 107px;
    }

    .contact-content {
        height: calc(100vh - 171px);
    }

    .contact-add-new-contact-container {
        width: 100vw;
        padding: 0 24px;
        height: calc(100vh - 171px);
    }
}

@media (max-width: 450px) {
    .contact-person {
        gap: 10px;
    }

    .contact-overlay-edit-head {
        margin-top: 36px;
        height: 200px !important;
    }

    .contact-overlay-edit-content {
      top: 240px !important;
    }

    .contact-overlay-add-content-name {
        width: 280px !important;
    }

    .contact-overlay-add-head p {
        font-size: 20px !important;
    }

    .contact-overlay-edit-head p {
        font-size: 20px !important;
    }

    .contact-overlay-person-icon-big img {
      top: 20px;
      height: 80px !important;
      width: 80px !important;
    }

    .contact-person-icon-big img {
        width: 70px;
        height: 70px;
    }

    .contact-person-icon-big h3 {
        font-size: 14px !important;
    }

    .contact-single-person-content-head-name h4 {
        font-size: 32px;
    }

    .contact-single-person-content-head {
        gap: 10px !important;
        padding: 0 !important;
    }

    .contact-person-icon-big {
        width: 70px !important;
    }
    .overlay-edit-contact-delete-save {
        transform: scale(0.8);
    }
}
