@media (max-width: 1250px) {
  .task-dashboard-container {
    transform: scale(0.9);
  }

  .dashboard-header {
    transform: scale(0.9);
  }
}

@media (max-width: 1150px) {
  .task-dashboard-container {
    transform: scale(0.8);
  }

  .dashboard-header {
    transform: scale(0.9);
  }
}

@media (max-width: 1024px) {
  .dashboard {
    width: calc(100vw - 150px);
  }
}


@media (max-width: 900px) {

  main {
    height: calc(100vh - 187px);
  }

   .dashboard {
    height: calc(100vh - 203px);
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 84px;
    bottom: 103px;
    padding: 0;
    gap: 0;
  }

  .dashboard-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideUpAndHide 0.75s forwards;
    animation-delay: 4.1s;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 2;
  }

  .task-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
    animation-delay: 3s;
    z-index: 2;
    padding-bottom: 74px;
    padding-top: 64px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
  }


 @keyframes slideUpAndHide {
  0% {
    transform: translate(-50%, -50%);
  }

    100% {
      transform: translate(-50%, -100vh);
      opacity: 0;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(100vh);
    }

    30% {
      opacity: 1;
      transform: translateY(100vh);
    }

    70% {
      opacity: 1;
      transform: translateY(100vh);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.task-box-bottom-mobile {
  width: 396px;
}

.task-box-bottom-bottom-mobile {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 396px;
}

.task-box-top-mobile {
  width: 396px;
  justify-content: center;
  align-items: center;

}

.task-urgent-mobile {
  height: 150px;
  width: 396px;
}

.task-task-to-do-mobile {
  height: 106px;
  width: 396px;
}