@media (max-width: 1024px) {
  .sidebar {
    min-width: 150px;
  }

  .nav {
    width: 140px;
  }

  .nav-bg,
  .nav img {
    width: 140px;
    height: 30px;
  }
}



@media (max-width: 900px) {
  .sidebar {
    display: none;
  }

  .nav-mobile {
    display: flex !important;
  }

  .profile-navbar {
    height: 180px;
    top: 84px
  }

  .profile-navbar a {
    color: var(--main-color);
  }

  .profile-navbar-help {
    display: flex;
  }

  .help-a-tag-back-button {
    display: block !important;
  }

  .help-headline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 23px;
    color: var(--menu-color);
    width: 76px;
  }

  .nav-bg img {
    height: 96px;
  }

  .sidebar-links {
    flex-direction: row;
  }
}

@media (max-width: 720px) {
  .nav-box {
    height: 83px;
  }

   header {
    min-height: 80px !important;
  }

  .nav-box img {
    height: 76px;
  }

  .nav-login-box-mobile {
    height: 83px;
  }

  .nav-bg {
    font-size: 15px;
  }

  .nav-bg img {
    height: 24px;
  }


 header {
    height: 80px;
  }
   nav p {
    display: none;
  }

  nav a {
    display: none;
  }

  nav {
    display: contents;
  }
}



@media (max-width: 410px) {
  .nav-login-box-mobile {
    padding: 0 20px;
  }
}

@media (max-width: 345px) {
  .nav-login-box-mobile {
    padding: 0 5px;
  }

  .sidebar-links {
    gap: 8px;
  }
}
@media (max-width: 1250px) {
    .add-task-button {
        flex-direction: column-reverse !important;
    }
}