.sidebar {
  width: 232px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #eee;
  padding: 20px;
  height: 85vh;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sidebar nav ul .active {
  background-color: #e6f0ff;
  border-radius: 8px;
  padding: 10px;
  color: #1a73e8;
  font-weight: bold;
}

.sidebar-footer {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
