h1 {
  color: var(--main-color);
  font-size: 64px;
}

.dashboard {
  padding: 100px;
  width: 100%;
  gap: 72px;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.dashboard-header h2 {
  font-weight: 400;
}

.dashboard p {
  font-size: 23px;
  margin: 0;
}

.task-container {
  display: flex;
}

.task-urgent {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 28px;
  padding-top: 28px;
  color: white;
  background-color: var(--main-color);
  border-radius: 30px;
  display: flex;
  gap: 35px;
}

.task-urgent-left-box {
  gap: 9px;
}

.task-urgent-left-box-top {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-urgent-left-box-top-img {
  

  display: flex;
  justify-content: center;
  align-items: center;
}

.task-urgent-left-box-top-img img {
 border: solid white 3px;
  border-radius: 50%;
    width: 76px;
  height: 76px;
}

.dashboard-placeholder {
  height: 100%;
  border: solid 1px white;
  border-radius: 3px;
  width: 1px;
  background-color: white;
}