* {
  outline: 1px solid red;
}

h1 {
  color: var(--main-color);
  font-size: 64px;
}

h5 {
  font-size: 23px;
}

.dashboard {
  justify-content: center;
  align-items: center;
  gap: 72px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.dashboard-header h2 {
  font-weight: 400;
}

.dashboard p {
  font-size: 23px;
  margin: 0;
}

.dashboard h5 {
  font-weight: 400;
  text-align: center;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 912px;
}

.task-box-top {
  display: flex;
  gap: 36px;
  position: relative;
}

.task-urgent {
  justify-content: center;
  padding: 28px 48px;
  color: white;
  background-color: var(--main-color);
  border-radius: 30px;
  display: flex;
  gap: 35px;
  width: 520px;
  transition: all 0.3s ease;
  flex-shrink: 0;
}

.task-urgent-area {
  display: flex;
  width: 100%;
  gap: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.task-urgent-left-box {
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task-urgent-left-box-top {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-urgent-left-box-top-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
}

.task-urgent-left-box-top-img img {
  width: 100%;
  height: 100%;
}

.task-urgent-left-box-top-ring {
  position: absolute;
  height: 66px;
  width: 65px;
  border: 3px solid white;
  border-radius: 50%;
}

.dashboard-placeholder {
  height: 100%;
  border: solid 1px white;
  border-radius: 3px;
  width: 1px;
  background-color: white;
}

.task-urgent-right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.task-task-in-board {
  padding: 40px;
  gap: 7px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  width: 208px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.task-task-in-board:hover {
  transform: scale(1.1);
  transform-origin: top right;
  color: white;
  background-color: var(--light-blue);
  border-radius: 0 30px 30px 30px;
  margin-left: -50px;
  width: 210px;
  position: absolute;
  right: 0;
}

.task-task-in-board:hover h5 {
  color: white;
}

.task-ring-img-container {
  position: relative;
  width: 76px;
  height: 76px;
}

.task-ring-img-container img {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 76px;
  height: 76px;
}

.task-ring-img-container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
}

.task-urgent:hover .dashboard-placeholder {
  background-color: var(--main-color);
  border-color: var(--main-color);
  transform: scale(0.909);
  transform-origin: center;
}


.task-task-in-board-top-box {
  display: flex;
  gap: 20px;
}

.task-task-in-board h5 {
  color: var(--main-color);
  font-weight: 400;
}

.task-task-to-do {
  padding: 40px;
  gap: 7px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

.task-task-to-do-top-box {
  display: flex;
  gap: 20px;
}

.task-task-to-do-top-box img {
  width: 76px;
  height: 76px;
}

.task-task-to-do h5 {
  color: var(--main-color);
  font-weight: 400;
}

.task-box-bottom {
  display: flex;
  gap: 32px;
}

.task-container-mobile {
  display: none;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.task-container-mobile p {
  font-size: 19px;
}

.task-container-mobile h4 {
  font-size: 23px;
}

.task-container-mobile h5 {
  font-size: 16px;
}

.task-box-top-mobile {
  flex-direction: column;
  gap: 24px;
  display: flex;

}

.task-urgent-mobile {
  width: 100%;
  color: white;
  background-color: var(--main-color);
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.task-urgent-mobile-box {
  justify-content: center;
  padding-bottom: 28px;
  padding-top: 28px;
  color: white;
  background-color: var(--main-color);
  border-radius: 30px;
  display: flex;
  gap: 16px;
  width: 396px;
}

.task-urgent:hover {
  background-color: white;
  color: var(--main-color);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0 30px 30px 30px;
  transform: scale(1.02);
  transform-origin: left;
  margin-bottom: -10px;
}

.task-urgent:hover .task-urgent-area {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.task-urgent:hover .dashboard-placeholder {
  background-color: var(--main-color);
  border-color: var(--main-color);
}


.task-urgent-left-box-mobile {
  gap: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.task-urgent-left-box-top-mobile {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
}

.task-urgent-left-box-top-img-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
}

.task-urgent-left-box-top-img-mobile img {
  width: 100%;
  height: 100%;
}

.task-urgent-left-box-top-ring-mobile {
  position: absolute;
  height: 66px;
  width: 65px;
  border: 3px solid white;
  border-radius: 50%;
}

.dashboard-placeholder-mobile {
  border: solid 1px white;
  border-radius: 3px;
  width: 1px;
  background-color: white;
}

.task-urgent-right-box-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.task-task-to-do-mobile {
  gap: 16px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navi-buttons-bg);
}

.task-task-to-do-mobile img {
  width: 76px;
  height: 76px;
  padding-right: 4px;
}

.task-task-to-do-mobile h5 {
  color: var(--main-color);
  font-weight: 400;
}

.task-box-bottom-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.task-task-to-do-box-mobile {
  width: 396px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 28px;
}

.task-box-bottom-top-mobile {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 387px;
}

.task-task-in-board-mobile {
  width: 100%;
  height: 156px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  gap: 7px;
}

.task-task-in-board-top-box-mobile {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.task-task-in-board-top-box-mobile img {
  width: 76px;
  height: 76px;
}

.task-task-in-board-mobile h5 {
  color: var(--main-color);
  text-align: center;
}