/* Tablet-specific styles */

@media (min-width: 721px) and (max-width: 1250px) {
  .dashboard {
    padding: 20px;
  }

  .task-container {
    width: 100%;
  }

  .task-box-top, .task-box-bottom {
    flex-direction: column;
    align-items: center;
  }

  .task-urgent, .task-task-in-board, .task-to-do, .task-task-to-do {
    width: 80%;
    margin: 10px 0;
  }

  
}
